.auth-wrapper {
    width: 55vw;
    margin-inline: auto;
    margin-block: 7rem 10rem;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
}

.auth-wrapper h2 {
    font-family: 'Metropolis Medium';
    font-size: 1.8rem;
    line-height: 1.2;
}

.auth-button {
    font-family: 'Metropolis Medium';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
    width: fit-content;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    border: none;
    margin:auto;
    margin-block-start: 1.2rem;
    cursor: pointer;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.auth-wrapper p:last-of-type {
    font-family: 'Metropolis Semibold';
    font-size: 1rem;
    line-height: 1.2;
}
.auth-wrapper p:last-of-type a {
    text-decoration: underline 2px var(--color-black);
    margin-inline-start: 0.4rem;
}