.auth-wrapper {
    margin-inline: auto;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-white);
}

@media (max-width: 880px) {
    .auth-wrapper {
        width: 100vw;
        margin-block: 5rem 10rem;
        padding: 1.5rem;
        gap: 1rem;
        align-items: start;
    }

    .auth-wrapper form {
        width: 100%;
    }

    .auth-wrapper p:last-of-type {
        font-family: 'Metropolis Regular';
        font-size: var(--font-size-0);
        line-height: 1;
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 881px) {
    .auth-wrapper {
        border: var(--border);
        width: 55vw;
        margin-block: 7rem 10rem;
        padding: 3rem;
        gap: 1.8rem;
        align-items: center;
    }

    .auth-wrapper p:last-of-type {
        font-family: 'Metropolis Semibold';
        font-size: var(--font-size-0);
        line-height: 1.2;
    }
}

.auth-wrapper .scribble {
    position: absolute;
    z-index: -10;
}

.auth-wrapper h2 {
    font-family: 'Metropolis Medium';
    font-size: var(--font-size-3);
    line-height: 1.2;
}

.auth-button {
    font-family: 'Metropolis Medium';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
    width: fit-content;
    font-size: var(--font-size-1);
    line-height: 1.2;
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    border: none;
    margin:auto;
    margin-block-start: 1.2rem;
    cursor: pointer;
    background-color: var(--color-orange);
    color: var(--color-white);
}

.auth-wrapper p:last-of-type a {
    text-decoration: underline 2px var(--color-black);
    -webkit-text-decoration-line: underline;
    margin-inline-start: 0.4rem;
}

.register .scribble1 {
    top: 25em;
    left: -3vw;
}
.register .scribble2 {
    top: 10em;
    right: -10vw;
}

.login .scribble2 {
    top: 7rem;
    left: -8vw;
}
.login .scribble1 {
    top: 8rem;
    right: -2vw;
}