@media (max-width: 880px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: .8rem;
        gap: .5rem;
    }
    .footer-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .kortrijk-logo img{
        height: 2rem;
    }
    .socials {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .socials svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 881px) {
    footer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-items: center;
        justify-items: center;
        padding: 1.5rem 3rem;
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-self: start;
    }

    .kortrijk-logo {
        justify-self: end;
    }
}
