.header {
    height: 100vh;
    margin-block-start: -5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: var(--border);
}

@media (max-width: 880px) {
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10vh;
    }
    .introduction {
        width: 88vw;
        height: fit-content;
        margin-inline-start: 1rem;
        margin-block-start: 7rem;
    }
    .introduction .printed-copy-link {
        display: none;
    }

    .scroll-button--mobile {
        place-self: center;
        margin-block: 0.5rem;
    }
}

@media (min-width: 881px) {
    .introduction {
        width: 42vw;
        height: 100vh;    
        margin-inline-start: 7vw;
    }
    .introduction .printed-copy-link {
        display: block;
    }
}


.introduction {
    font-size: var(--font-size-4);
    line-height: 1.4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.introduction .ctas {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-start: 2rem;
}

.introduction .printed-copy-link {
    font-size: var(--font-size-1);
    text-decoration: solid underline 2px;
    -webkit-text-decoration-line: underline;
    font-family: 'Metropolis Semibold';
    transition: all 0.2s ease-in-out;
}
.introduction .printed-copy-link:hover {
    text-decoration: solid underline 2px var(--color-orange);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: var(--color-orange);
    color: var(--color-orange);
}

.introduction .scroll-button {
    margin-block-end: 2rem;
    margin-block-start: 18vh;
}
.introduction .scroll-button:hover {
    transform: translateY(0.5rem);
    transition: all 0.2s ease-in-out;
}

.introduction .scribbles {
    position: absolute;
    z-index: -100;
}
.introduction .scribble1 {
    top: 2vw;
    left: 1vw;
}
.introduction .scribble2 {
    top: 32vh;
    left: 45vw;
}
.introduction .scribble3 {
    top: 67vh;
    left: 43vw;
}


.rolling-cards__wrapper {
    overflow: hidden;
}

.rolling-cards {
    justify-self: end;
    padding-inline-end: 5vw;
    overflow: hidden;
    padding-inline-start: 1rem;
    padding-block-start: 6rem;
    padding-block-end: 1rem;
    z-index: -100;
}

.rolling-cards__container {
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
}

.rolling-card {
    display: block;
    border: var(--border);
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--drop-shadow);
}

.rolling-card:nth-child(3n+1) {
    background-color: var(--color-yellow);
}

.rolling-card:nth-child(3n+2) {
    background-color: var(--color-blue);
}

.rolling-card:nth-child(3n+3) {
    background-color: var(--color-orange);
}


.rolling-card__header {
    height: 15rem;
}
.rolling-card__title {
    font-size: var(--font-size-7);
    line-height: 1;
    font-family: 'Metropolis Semibold';
    text-transform: uppercase;
}
.rolling-card__prompt {
    font-size: var(--font-size-2);
}

.rolling-card__submit {
    font-size: var(--font-size-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 0.8rem;
    border-block-start: var(--border);
    font-family: 'Metropolis Semibold';
}
.rolling-card svg {
    width: 1.2rem;
    height: 1.2rem;
}


@media (max-width: 880px) {
    .rolling-cards {
        width: 100%;
        padding-inline-start: 1rem;
        padding-block-start: 6rem;
        padding-block-end: 1rem;
        z-index: -100;
        padding: 0;
    }

    .rolling-cards__container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 126rem;
        height: 35vh;
        padding-inline: 1rem;
    }

    .rolling-card {
        width: 18rem;
    }
}

@media (min-width: 881px) {
    .rolling-cards {
        width: 45vw;
    }

    .rolling-cards__container {
        display: flex;
        flex-direction: column;
    }

        .rolling-card {
            width: 100%;
            height: 20rem;
            border: var(--border);
            border-radius: 3px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: var(--drop-shadow);
        }
}


.featured-submissions {
    max-width: 92vw;
    margin-inline: auto;
    margin-block-start: 8rem;
    margin-block-end: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 880px) {
    .featured-submissions {
        margin-inline: auto;
        margin-block-start: 2rem;
        margin-block-end: 10rem;
    }
    .featured-submissions__submissions {
        max-width: 92vw;
        margin-block: 3rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}

@media (min-width: 881px) {
    .featured-submissions {
        margin-inline: auto;
        margin-block-start: 8rem;
        margin-block-end: 10rem;
    }
    .featured-submissions__submissions {
        max-width: 88vw;
        margin-block-start: 5rem;
        margin-block-end: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        row-gap: 7rem;
        justify-items: end;
    }
    .featured-submissions__submissions .submission:nth-of-type(1) {
        width: 40vw;
    }

    .featured-submissions__submissions .submission:nth-of-type(2) {
        display: block;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-self: center;
        max-width: 30vw;
    }

    .featured-submissions__submissions .submission:nth-of-type(3) {
        max-width: 30vw;
    }
}

.featured-submissions__submissions::before {
    content: '';
    width: 70vw;
    height: 70vw;
    background-color: var(--color-yellow);
    z-index: -1;
    position: absolute;
    margin-block-start: 15vh;
    left: 5vw;
    border-radius: 100%;
    filter: blur(22.5px);
}


.featured-submissions__submissions .submission {
    font-size: var(--font-size-2);
}

.featured-submissions__submissions .submission--img {
    width: 100%;
    height: auto;
    box-shadow: var(--drop-shadow);
}

.featured-submissions__submissions .submission--title {
    font-size: var(--font-size-2);
    font-family: 'Metropolis Semibold';
    margin-block: 1rem 0.7rem;
}

.featured-submissions__submissions .submission--text {
    padding-block-end: 0.5rem;
    border-bottom: var(--border);
}

.featured-submissions__submissions .submission--page {
    font-family: 'Metropolis Semibold';
    margin-block-start: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}




.total-submissions {
    width: 100vw;
    margin-block-start: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.total-submissions div {
    margin-inline: 6vw;
}
.total-submissions svg {
    margin-block-start: -10rem;
}

.total-submissions::before {
    content: '';
    width: 100vw;
    height: clamp(15rem, calc(15rem + 15vw), 33rem);
    margin-block-start: clamp(-11.2rem, calc(-11.2rem + 3.5vw), -15.5rem);
    background-color: var(--color-blue);
    z-index: -1;
    position: absolute;
    border-radius: var(--border-radius);
}

.total-submissions__title {
    font-family: 'Metropolis Light';
    font-size: var(--font-size-4);
    text-align: center;
    margin-block-start: 5rem;
    margin-block-end: clamp(0rem, calc(-10rem + 3.5vw), -3rem);
}
.total-submissions__title .italic {
    font-family: 'Metropolis Light Italic';
}

.total-submissions__number {
    font-family: 'Trappist';
    font-size: clamp(9rem, calc(9rem + 30vw), 35rem);
    letter-spacing: 0.150rem;
    margin-inline-end: -0.150rem;
    text-align: center;
    color: var(--color-black);
    -webkit-text-fill-color: var(--color-white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--color-black);
}



.cursor-content {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    color: var(--color-white);
    place-items: center;
    display: none;
}

.total-submissions:hover+.cursor-content {
    display: grid;
}

.cursor-content__text {
    font-size: var(--font-size-1);
    font-family: 'Metropolis Semibold';
    grid-column: 1;
    grid-row: 1;
    z-index: 10000;
}

.cursor-content__bg {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--color-orange);
    border-radius: 100%;
    filter: blur(3px);
    grid-column: 1;
    grid-row: 1;
}


@media (max-width: 880px) {
.total-submissions:hover+.cursor-content {
        display: none;
    }
}

@media (min-width: 881px) {
.total-submissions:hover+.cursor-content {
        display: grid;
    }
}




.would-you-rather__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}


@media (max-width: 880px) {
    .would-you-rather__title--text {
        margin-inline-start: -10rem;
        margin-block-start: 9rem;
    }
    .would-you-rather {
        margin-block-start: -5rem;
        margin-block-end: 8rem;
        margin-inline: auto;
        width: 94vw;
    }
    .poll-options {
        width: 100%;
    }
    .poll-option, .poll-option--voted {
        width: 45vw;
    }
    .poll-form {
        width: 100%;
        gap: 0rem;
    }
}

@media (min-width: 881px) {
    .would-you-rather__title--text {
        margin-inline-start: -10rem;
        margin-block-start: 4.5rem;
    }
    .would-you-rather {
        width: 88vw;
        margin-inline: auto;
        margin-block-end: 8rem;
    }
    .poll-options {
        width: 70vw;
    }
    .poll-option, .poll-option--voted {
        width: 33vw;
    }
    .poll-form {
        width: 70vw;
        gap: 1rem;
    }
}

.poll-options{
    margin-inline: auto;
    margin-block-start: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.poll-option, .poll-option--voted {
    border: var(--border);
    border-radius: var(--border-radius);

    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-family: 'Metropolis Semibold';
    font-size: var(--font-size-4);
    line-height: 1.5;
    padding: 6%;
    text-align: center;
}
.poll-option:hover, .poll-option--voted.selected {
    background-color: var(--color-yellow);
    border: none;
}

.poll-option__title {
    font-family: 'Metropolis Medium';
    font-size: var(--font-size-2);
    margin-block-end: 5.5%;
}
.poll-option__votes {
    font-family: 'Trappist';
    font-size: clamp(2.8rem, calc(2.8rem + 5vw), 10rem);
    line-height: 1.2;
}

.poll-form {
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.poll-form__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.poll-form label, .poll-form textarea {
    width: 100%;
    font-family: 'Metropolis Medium';
}

.poll-form textarea {
    height: 8rem;
    padding: 1rem;    
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    font-size: var(--font-size-1);
}
.poll-form textarea::placeholder {
    color: #0000004b;
}

.poll-form__conformation {
    width: 70vw;
    margin: auto;
    text-align: center;
    font-family: 'Metropolis Semibold';
    font-size: var(--font-size-2);
    margin-block-start: 3rem;
}



.progress {
    margin-block: 3rem;
}

.progress-bar {
    width: 100%;
    height: 8rem;
    margin-block: 1rem;
    border-block: var(--border);
    display: grid;
}

.progress-bar__bar {
    width: 0%;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__info {
    height: 100%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__info .small {
    align-items: start;
}

.progress-bar__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-bar__percentage {
    font-family: 'Trappist';
    font-size: var(--font-size-7);
    line-height: 1;
}

.progress-bar__text {
    font-family: 'Metropolis Medium';
    font-size: var(--font-size-3);
}


.progress-bar__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__cta--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-inline: 1rem;
}

.progress-bar__issue {
    text-transform: uppercase;
    font-family: 'Metropolis Semibold';
    font-size: var(--font-size-2);
    margin-block-end: .5rem;
}
.progress-bar__issue.big {
    margin-block-end: -0.5rem;
    width: 100%;
    padding-inline: 1.5rem;
    text-align: end;
}
.progress-bar__issue .italic-semibold {
    text-transform: lowercase;
}

.progress-bar__contribute {
    font-size: var(--font-size-1);
    text-transform: uppercase;
    text-decoration: underline 2px var(--color-black);
    -webkit-text-decoration-line: underline;
}
.progress-bar__contribute.big {
    display: block;
    width: 100%;
    padding-inline: 1.65rem;
    text-align: end;
}

.progress-bar__bar--wrapper {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}


.map-wrapper {
    width: 100vw;
    border-block-start: var(--border);
    margin-block-end: 10rem;
}
.map {
    width: 88vw;
    margin-inline: auto;
}



.map-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 880px) {
    .my-map {
            width: 100%;
            height: 70vh;
    }
    .map h2 {
        margin-block-start: 1rem;
        margin-block-end: 3rem;
    }
}

@media (min-width: 881px) {
    .my-map {
            width: 60vw;
            height: 45vw;
    }
    .map h2 {
        margin-block-start: 4rem;
        margin-block-end: 6rem;
    }
}

.my-map {
    border: var(--border);
    border-radius: var(--border-radius);
}

.map-info {
    width: 21vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 3rem;
}

.place__name {
    font-family: 'Metropolis Semibold';
    font-size: var(--font-size-5);
}
.place__specification {
    font-family: 'Metropolis Medium';
}

.opening-hours {
    display: flex;
    flex-direction: column;
    gap: 0.8rem
}

.opening-hours__day {
    display: flex;
    flex-direction: row;
}

.opening-hours__day :first-child {
    width: 45%;
    font-family: 'Metropolis Medium';
}

.map::before {
    content: '';
    width: 58vw;
    height: 58vw;
    background-color: var(--color-yellow);
    z-index: -1;
    position: absolute;
    margin-block-start: 5vh;
    left: -3vw;
    border-radius: 100%;
    filter: blur(22.5px);
}



.instagram {
    width: 100vw-2px;
    margin-block-start: 10rem;
    margin-block-end: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram h2 {
    font-family: 'Metropolis Light';
    font-size: var(--font-size-4);
    margin-block-end: 0.5rem;
}
.instagram .hashtag {
    font-family: 'Metropolis Italic'; 
    text-transform: uppercase;
    font-size: var(--font-size-7);
    line-height: 1.1;
    margin-block-end: 3rem;
}

.instagram-content {
    width: 95%;
    margin-block: auto;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100%;
    padding: clamp(1rem, calc(1rem + 0.6vw), 1.5rem);
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    flex-wrap: wrap;
    justify-content: center;
}

.instagram-content img {
    object-fit: cover;
    border-radius: 1px;
    box-shadow: var(--drop-shadow);
}

@media (max-width: 880px) {
.instagram-content img {
        width: 45%;
        height: 45%;
    }
}

@media (min-width: 881px) {
.instagram-content img {
        width: 23%;
        height: 23%;
    }
}






.tiktok {
    width: 100vw;
    margin-block-end: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 880px) {
    .tiktok-title__1 {
        text-align: start;
        margin-inline-start: 1rem;
        margin-block-end: 1rem;
        line-height: 1;
    }
    .tiktok .scribble1 {
        left: -15vw;
        top: 10rem;
    }
    .tiktok .scribble2 {
        left: 18vw;
        top: 18rem;
    }
    .tiktok .scribble3 {
        right: 3vw;
        bottom: 0;
    }
}

@media (min-width: 881px) {
    .tiktok-title__1 {
        text-align: end;
        margin-inline-end: 6rem;
        overflow: hidden;
    }
    .tiktok-title {
        width: 100vw;
        margin-block-start: 10rem;
        margin-block-end: 10rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .tiktok-gif {
        position: absolute;
        margin: auto;
    }
    .tiktok .scribble1 {
        right: 22vw;
        top: 0;
    }

    .tiktok .scribble2 {
        left: 18vw;
        top: 18rem;
    }

    .tiktok .scribble3 {
        right: 36vw;
        bottom: 4rem;
    }
}


.tiktok-title__2 {
    text-align: start;
    margin-inline-start: -8rem;
    overflow: hidden;
}
.tiktok-title__3 {
    text-align: end;
    margin-inline-end: -10rem;
    overflow: hidden;
}



@media (max-width: 880px) {
.tiktok-gif {
        width: 15rem;
        height: auto;
    }
}

@media (min-width: 881px) {
.tiktok-gif {
        width: 20rem;
        height: auto;
    }
}

.tiktok .scribble {
    position: absolute;
    z-index: -100;
}



.instructions {
    width: 100vw;
}


@media (max-width: 880px) {
    .instructions h2 {
        margin-inline-start: 1rem;
        margin-block-end: 3rem;
    }
    .instructions__steps {
        flex-direction: column;
        width: 96vw;
        padding: 1rem;
        margin: auto;
        gap: 1rem;
    }
    .instructions__step {
        width: auto;
        padding: 1rem;
        height: 22rem;
        margin-block-end: 1rem;
    }
    .instructions__wrapper {
        overflow: hidden;
    }
}

@media (min-width: 881px) {
    .instructions h2 {
        margin-inline-start: 3rem;
        margin-block-end: 3rem;
    }
    .instructions__steps {
        flex-direction: row;
        width: 140vw;
    }
    .instructions__step {
        padding: 2rem;
        width: 33.3333333333%;
        height: 27rem;
        margin-inline-start: -2px;
    }
    .instructions__steps {
        display: flex;
    }
}

.instructions .scribble {
    width: 100%;
    margin-block-start: -3rem;
}


.instructions__wrapper {
    overflow: scroll;
}

.instructions__step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    font-size: var(--font-size-2);
}

.instructions__text {
    margin-block-start: 0.5rem;
}

.instructions .scribble {
    margin-block-end: -4rem;
}

.instructions h3 {
    text-transform: uppercase;
    font-family: 'Metropolis Semibold';
    font-size: var(--font-size-6);
}

.instructions h3 span {
    font-family: 'Trappist';
    font-size: var(--font-size-6);
    line-height: 1.1;
    color: var(--color-blue);
}


.magazine-page {
    width: calc(0.65 * 595px);
    height: calc(0.65 * 842px);
    box-shadow: var(--drop-shadow);
}

.magazine-page--mobile {
    max-width: 90vw;
    height: auto;
}

.magazine-flipbook, .magazine-flipbook__container {
    width: calc(0.65 * 595px * 2);
    height: calc(0.65 * 842px);
    margin: auto;
}

.magazine-flipbook__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.magazine-flipbook__container--mobile {
   display: grid;
   place-items: center;
}

.magazine-preview {
    position: relative;
}

.magazine-preview > p {
    text-align: end;
    margin-inline-end: 3rem;
    font-family: 'Metropolis Medium';
    font-size: var(--font-size-2);
    margin-block-end: 2rem;
}
.magazine-preview > p span {
    font-family: 'Metropolis Medium Italic';
}
.magazine-preview .scribble {
    position: absolute;
    right: 4rem;
    top: 2rem;
    margin-block-end: -4rem;
}

.magazine-preview::before {
    content: '';
    width: 100vw;
    height: 33rem;
    margin-block-start: 2.5rem;
    background-color: var(--color-blue);
    z-index: -1;
    position: absolute;
    border-radius: var(--border-radius);
}