.header {
    height: 100vh;
    margin-block-start: -5rem;
    /* padding-block-start: 5rem; */
    display: grid;
    align-items: end;
    border-bottom: var(--border);
}



.introduction {
    font-size: 2.3rem;
    max-width: 42vw;
    line-height: 1.4;
    margin-inline-start: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction p:first-of-type {
    margin-block-end: 1rem;
}

.introduction .ctas {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-start: 2rem;
}

.introduction .printed-copy-link {
    display: block;
    font-size: 1.1rem;
    text-decoration: solid underline 2px;
    font-family: 'Metropolis Semibold';
}

.introduction .scroll-button {
    margin-block-end: 2rem;
    margin-block-start: 18vh;
}




.featured-submissions {
    max-width: 92vw;
    margin-inline: auto;
    margin-block-start: 8rem;
    margin-block-end: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-submissions h2 {
    text-transform: uppercase;
    font-size: 5.5rem;
    line-height: 1;
}

.featured-submissions__submissions {
    max-width: 88vw;
    margin-block-start: 5rem;
    margin-block-end: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 7rem;
    justify-items: end;
}

.featured-submissions__submissions::before {
    content: '';
    width: 70vw;
    height: 70vw;
    background-color: var(--color-yellow);
    z-index: -1;
    position: absolute;
    margin-block-start: 15vh;
    left: 5vw;
    border-radius: 100%;
    filter: blur(22.5px);
}

.submission:nth-of-type(1) {
    width: 40vw;
}

.submission:nth-of-type(2) {
    display: block;
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    max-width: 30vw;
}

.submission:nth-of-type(3) {
    max-width: 30vw;
}

.submission {
    font-size: 1.5rem;
}

.submission--img {
    width: 100%;
    height: auto;
    box-shadow: var(--drop-shadow);
}

.submission--title {
    font-size: 1.5rem;
    font-family: 'Metropolis Semibold';
    margin-block: 1rem 0.7rem;
}

.submission--text {
    padding-block-end: 0.5rem;
    border-bottom: var(--border);
}

.submission--page {
    font-family: 'Metropolis Semibold';
    margin-block-start: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.total-submissions {
    width: 100vw;
    margin-block-start: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.total-submissions div {
    margin-inline: 6vw;
}
.total-submissions svg {
    margin-block-start: -10rem;
}

.total-submissions::before {
    content: '';
    width: 100vw;
    height: 33rem;
    margin-block-start: -15rem;
    background-color: var(--color-blue);
    z-index: -1;
    position: absolute;
    border-radius: var(--border-radius);
}

.total-submissions__title {
    font-family: 'Metropolis Light';
    font-size: 2.1rem;
    margin-block-start: 5rem;
    margin-block-end: -3rem;
}
.total-submissions__title .italic {
    font-family: 'Metropolis Light Italic';
}

.total-submissions__number {
    font-family: 'Trappist';
    font-size: 35rem;
    letter-spacing: 0.150em;
    margin-inline-end: -0.150em;
    text-align: center;
    color: var(--color-black);
    -webkit-text-fill-color: var(--color-white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--color-black);
}



.cursor-content {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    color: var(--color-white);
    place-items: center;
    display: none;
}

.total-submissions:hover+.cursor-content {
    display: grid;
}

.cursor-content__text {
    font-size: 1.1rem;
    font-family: 'Metropolis Semibold';
    grid-column: 1;
    grid-row: 1;
    z-index: 10000;
}

.cursor-content__bg {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--color-orange);
    border-radius: 100%;
    filter: blur(3px);
    grid-column: 1;
    grid-row: 1;
}




.would-you-rather {
    width: 90vw;
    margin-inline: auto;
    margin-block-end: 8rem;
}

.would-you-rather__title {
    font-family: 'Trappist';
    text-transform: uppercase;
    font-size: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.would-you-rather__title--text {
    margin-inline-start: -10rem;
    margin-block-start: 4.5rem;
}

.poll-options{
    width: 70vw;
    margin-inline: auto;
    margin-block-start: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 5%; */
}
.poll-option, .poll-option--voted {
    border: var(--border);
    border-radius: var(--border-radius);
    width: 30vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-family: 'Metropolis Semibold';
    font-size: 2.2rem;
    line-height: 1.5;
    padding: 6%;
    text-align: center;
}
.poll-option:hover, .poll-option--voted.selected {
    background-color: var(--color-yellow);
    border: none;
}

.poll-option__title {
    font-family: 'Metropolis Medium';
    font-size: 1.5rem;
    margin-block-end: 5.5%;
}
.poll-option__votes {
    font-family: 'Trappist';
    font-size: 10rem;
    line-height: 1.2;
}

.poll-form {
    width: 70vw;
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.poll-form__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.poll-form label, .poll-form textarea {
    width: 100%;
    font-family: 'Metropolis Medium';
}

.poll-form textarea {
    height: 8rem;
    padding: 1rem;    
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.poll-form textarea::placeholder {
    color: #0000002a;
}

.poll-form__conformation {
    width: 80vw;
    margin: auto;
    text-align: center;
    font-family: 'Metropolis Semibold';
    font-size: 1.5rem;
    margin-block-start: 3rem;
}


/* .progress-bar {
    width: 100%;
    height: 8rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    border-block: var(--border);
    display: grid;
}

.progress-bar__bar {
    width: 0%;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__info {
    height: 100%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.progress-bar__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress-bar__percentage {
    font-family: 'Trappist';
    font-size: 3.8rem;
    line-height: 1;
}
.progress-bar__text {
    font-family: 'Metropolis Medium';
    font-size: 1.7rem;
}


.progress-bar__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    grid-column: 1;
    grid-row: 1;
}
.progress-bar__cta--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-transform: uppercase;
    padding-inline: 1rem;
}
.progress-bar__issue {
    font-family: 'Metropolis Semibold';
    font-size: 1.5rem;
    margin-block-end: .5rem;
}
.progress-bar__issue .italic-semibold {
    text-transform: lowercase;
}
.progress-bar__contribute {
    text-decoration: underline 2px var(--color-black);
} */

.progress-bar {
    width: 100%;
    height: 8rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    border-block: var(--border);
    display: grid;
}

.progress-bar__bar {
    width: 0%;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__info {
    height: 100%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__info .small {
    align-items: start;
}

.progress-bar__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-bar__percentage {
    font-family: 'Trappist';
    font-size: 3.8rem;
    line-height: 1;
}

.progress-bar__text {
    font-family: 'Metropolis Medium';
    font-size: 1.7rem;
}


.progress-bar__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    grid-column: 1;
    grid-row: 1;
}

.progress-bar__cta--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-inline: 1rem;
}

.progress-bar__issue {
    text-transform: uppercase;
    font-family: 'Metropolis Semibold';
    font-size: 1.5rem;
    margin-block-end: .5rem;
}
.progress-bar__issue.big {
    margin-block-end: -0.5rem;
    width: 100%;
    padding-inline: 1.5rem;
    text-align: end;
}
.progress-bar__issue .italic-semibold {
    text-transform: lowercase;
}

.progress-bar__contribute {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: underline 2px var(--color-black);
}
.progress-bar__contribute.big {
    display: block;
    width: 100%;
    padding-inline: 1.65rem;
    text-align: end;
}

.progress-bar__bar--wrapper {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}