.header {
    height: 100vh;
    margin-block-start: -5rem;
    padding-block-start: 5rem;
    display: grid;
    border-bottom: solid 2px #000000;
}

.introduction {
    font-size: 2.3rem;
    max-width: 42vw;
    line-height: 1.4;
    margin-block: auto;
    margin-inline-start: 8vw;
}

.introduction .semibold {
    font-family: 'Metropolis Semibold';
}
.introduction .italic {
    font-family: 'Metropolis Italic';
}
.introduction .italic-semibold {
    font-family: 'Metropolis Semibold Italic';
    font-style: italic;
}

.introduction p:first-of-type {
    margin-block-end: 1rem;
}

.introduction a {
    font-size: 1.1rem;
    text-decoration: solid underline 2px;
}