
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth
}

@font-face {
    font-family: 'Metropolis Light';
    src: url(../assets/fonts/Metropolis-Light.woff2);
}
@font-face {
    font-family: 'Metropolis Light Italic';
    src: url(../assets/fonts/Metropolis-LightItalic.woff2);
}
@font-face {
    font-family: 'Metropolis Regular';
    src: url(../assets/fonts/Metropolis-Regular.woff2);
}
@font-face {
    font-family: 'Metropolis Italic';
    src: url(../assets/fonts/Metropolis-RegularItalic.woff2);
}
@font-face {
    font-family: 'Metropolis Medium';
    src: url(../assets/fonts/Metropolis-Medium.woff2);
}
@font-face {
    font-family: 'Metropolis Medium Italic';
    src: url(../assets/fonts/Metropolis-MediumItalic.woff2);
}
@font-face {
    font-family: 'Metropolis Semibold';
    src: url(../assets/fonts/Metropolis-SemiBold.woff2);
}
@font-face {
    font-family: 'Metropolis Semibold Italic';
    src: url(../assets/fonts/Metropolis-SemiBoldItalic.woff2);
}

@font-face {
    font-family: 'Trappist';
    src: url(../assets/fonts/Trappist-Regular.woff2);
}

:root {
    --color-yellow: #DFFF17;
    --color-black: #030027;
    --color-white: #FFFFFF;
    --color-blue: #547AA5;
    --color-orange: #FF5714;

    --drop-shadow: 2px 2px 18px 3px rgba(0, 0, 0, 0.25);

    --border: solid 2px var(--color-black);
    --border-radius: 5px;

    --font-size-0: clamp(0.8rem, calc(0.8rem + 0.2vw), 1rem);
    --font-size-1: clamp(0.9rem, calc(0.9rem + 0.4vw), 1.2rem);
    --font-size-2: clamp(1rem, calc(1rem + 0.6vw), 1.5rem);
    --font-size-3: clamp(1.2rem, calc(1.2rem + 0.7vw), 1.7rem);
    --font-size-4: clamp(1.3rem, calc(1.3rem + 0.9vw), 2.2rem);
    --font-size-5: clamp(1.4rem, calc(1.4rem + 1vw), 2.5rem);
    --font-size-6: clamp(1.5rem, calc(1.5rem + 1.2vw), 3rem);
    --font-size-7: clamp(1.8rem, calc(1.8rem + 1.4vw), 3.8rem);
    --font-size-8: clamp(2rem, calc(2rem + 3.5vw), 5.5rem);
}

body {
    font-family: 'Metropolis Regular';
    line-height: 1.2;
    font-size: var(--font-size-1);
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin-top: 5rem;
}

span.semibold {
    font-family: 'Metropolis Semibold';
}

span.italic {
    font-family: 'Metropolis Italic';
}

span.italic-semibold {
    font-family: 'Metropolis Semibold Italic';
}

.title--style1 {
    text-transform: uppercase;
    font-size: var(--font-size-8);
    line-height: 1.1;
}

.title--style2 {
    font-family: 'Trappist';
    text-transform: uppercase;
    font-size: clamp(3.2rem, calc(3.2rem + 4vw), 7.6rem);
}

.custom-button, .poll-form button, .error-page button {
    font-family: 'Metropolis Medium';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
    width: fit-content;
    font-size: var(--font-size-1);
    line-height: 1.2;
    padding: 0.5rem 1.2rem;
    border: var(--border);
    border-radius: 3px;
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.custom-button:hover, .poll-form button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.custom-button:hover svg path, .poll-form button:hover svg {
    fill: var(--color-white);
    transition: all 0.2s ease-in-out;
}



form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-block-start: 1.2rem;
}

form input,
form textarea,
form select {
    width: 100%;
    font-family: 'Metropolis Medium';
    font-size: var(--font-size-1);
    line-height: 1.5rem;
    padding: 0.8rem;
    border: 1px solid #0000004b;
    border-radius: var(--border-radius);
}

form input[type="file"] {
    border: none;
    padding: 0;
}

form input::placeholder,
form textarea::placeholder {
    color: #0000004b;
}

form span {
    font-family: 'Metropolis Semibold';
    font-size: var(--font-size-0);
    line-height: 1.5rem;
    margin-inline-start: 0.5rem;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 5rem;
}

.error-page h1 {
    font-family: 'Trappist';
    text-transform: uppercase;
    font-size: var(--font-size-6);
    line-height: 1.2;
}

.error__message {
    font-family: 'Metropolis Italic';
    margin-block: 1rem;
    
}