.submit-form__wrapper {
    width: 55vw;
    padding-block: 2rem 10rem;
}

.submit-form__wrapper h1, .submit-overview h1 {
    font-family: 'Metropolis Medium';
    font-size: 2.5rem;
    line-height: 1.2;
    margin-block-start: 0;
    margin-inline-start: 3rem;
    margin-block-end: 1rem;
}

.submit-form {
    padding: 2rem 3rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}

.submission-tips {
    line-height: 1.5;
    margin-block-end: 1rem;
}

.submission-tips__title {
    font-size: 1.8rem;
    font-family: 'Metropolis Semibold';
}

.submit-form form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-block-start: 1.2rem;
}

.submit-form form input, .submit-form form textarea, .submit-form form select {
    width: 100%;
    font-family: 'Metropolis Medium';
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 0.8rem;
    border: 1px solid #0000004b;
    border-radius: var(--border-radius);
}

.submit-form form input[type="file"] {
    border: none;
    padding: 0;
}

.submit-form form input::placeholder, .submit-form form textarea::placeholder {
    color: #0000004b;
}

.submit-form form span {
    font-family: 'Metropolis Semibold';
    font-size: 1rem;
    line-height: 1.5rem;
    margin-inline-start: 0.5rem;
}

.submission-button {
    font-family: 'Metropolis Medium';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
    width: fit-content;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    border: none;
    margin-inline-start: auto;
    margin-block-start: 1.2rem;
    cursor: pointer;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.submit-form__wrapper .scribble1 {
    top : 20rem;
    right: 0;
}
.submit-form__wrapper .scribble2 {
    top: 25rem;
    left: 20vw;
}

.submitting-page {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    width: 88vw;
    justify-content: center;
    position: relative;
}

.submitting-page .scribble {
    position: absolute;
    z-index: -10;
}

.progress-tracker {
    margin-block-start: 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.progress-tracker__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.progress-tracker__item--completed {
    color: var(--color-blue);
}

.progress-tracker__item__number {
    width: 2rem;
    height: 2rem;
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: var(--border);
    transition: all 0.3s ease-in-out;
}
.progress-tracker__item--completed .progress-tracker__item__number {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: var(--color-blue) 2px solid;
}

.submit-overview {
    width: 55vw;
    padding-block: 2rem 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-block-end: 15rem;
}

.overview-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-block-start: 1rem;
}

.submission__overview {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: var(--drop-shadow);
    border-radius: var(--border-radius);
    padding: 2rem;
    color: #030027aa;
    background-color: var(--color-white);
}

.submit-overview .scribble1 {
    top : 8rem;
    right: 0;
}
.submit-overview .scribble2 {
    top: 18rem;
    left: -5rem;
}

.submission__overview--title {
    font-family: 'Metropolis Semibold';
    font-size: 1.7rem;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 1rem;
}

.submission__overview--images {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    height: 8rem;
}

.submission__overview--image {
    height: 100%;
    width: 8rem;
    object-fit: cover;
}

.overview-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.overview-buttons form {
    margin: 0;
}
.overview-buttons button, .new-input__button {
    margin: 0;
    font-family: 'Metropolis Medium';
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.new-input__button {
    margin-inline-start: auto;
}

.notes-for-editor__title {
    font-family: 'Metropolis Semibold';
}



.confirmation {
    width: 100%;
    padding-block: 2rem 6rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.confirmation__info--wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.confirmation__info {
    width: 45vw;
    padding: 3rem;
    box-shadow: var(--drop-shadow);
    border-radius: var(--border-radius);
    border: var(--border);
    margin-block-end: 2rem;
}

.confirmation__info p {
    font-family: 'Metropolis Medium';
    font-size: 1.4rem;
    line-height: 1.2;
    margin-inline-start: -1rem;
    margin-block-end: 1rem;
}

.submitting-page.confirmation {
    display: flex;
    flex-direction: column;
    width: 88vw;
    justify-content: center;
}

ol {
    list-style: decimal;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.confirmation h1 {
    font-family: 'Metropolis Semibold';
    font-size: 1.7rem;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 1rem;
}